{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main %}
    <h5>Workout starting at {{ workout.start_dt|date:'d-m-Y H:i' }}</h5>
    {% if object %}
        <h6>Updating {{ object }}</h6>
    {% endif %}
    <form id="workout_exercise_form" method="post">
        {% crispy form %}
    </form>
{% endblock %}

{% block scripts %}
    {% if not self.object %}
        {{ enabled_metric_fields_by_exercise|json_script:"enabled_metric_fields_by_exercise" }}
        {{ default_metric_values_by_exercise|json_script:"default_metric_values_by_exercise" }}
        <script>
            const enabledMetricFieldsByExercise = JSON.parse(document.getElementById('enabled_metric_fields_by_exercise').textContent);
            const defaultMetricValuesByExercise = JSON.parse(document.getElementById('default_metric_values_by_exercise').textContent);
            $("#id_exercise").change(function() {
                let enabledMetricFields = []
                let defaultMetricValues = {}
                const exerciseID = $(this).val()
                if (exerciseID) {
                    enabledMetricFields = enabledMetricFieldsByExercise[exerciseID]
                    defaultMetricValues = defaultMetricValuesByExercise[exerciseID]
                }
                console.log(defaultMetricValues)
                {% for metric_field in all_metric_fields %}
                    $("#id_{{ metric_field }}").val("")
                    if (enabledMetricFields.includes("{{ metric_field }}")) {
                        $("#div_id_{{ metric_field }}").removeClass("d-none")
                        $("#id_{{ metric_field }}").prop("required", true)
                        if (Object.keys(defaultMetricValues).includes("{{ metric_field }}")) {
                            $("#id_{{ metric_field }}").val(defaultMetricValues["{{ metric_field }}"])
                        }
                    }
                    else {
                        $("#div_id_{{ metric_field }}").addClass("d-none")
                        $("#id_{{ metric_field }}").prop("required", false)
                    }
                {% endfor %}
            }).change();
        </script>
    {% endif %}
{% endblock %}