{% extends "base.html" %}
{% load workout_extras %}

{% block main %}
    <h4>Workout {% if object.is_complete %}from {{ object.start_dt|date:'d-m-Y H:i' }} to {{ object.end_dt|date:'d-m-Y H:i' }}{% else %}starting at {{ object.start_dt|date:'d-m-Y H:i' }}{% endif %}</h4>
    {% if not object.is_complete %}
        <a class="btn btn-secondary w-100 mb-2" href="{% url 'workout_add_exercise' workout_id=object.id %}">Add exercise</a>
    {% endif %}
    <div class="row">
        {% for workout_exercise in object.workoutexercise_set.all %}
            <div class="col-12">
                <div {% if not object.is_complete %}role="button"{% endif %} class="row mx-0 mb-2 bg-light text-decoration-none{% if not object.is_complete %} workout-exercise-row{% endif %}" data-update-url="{% url 'workout_update_exercise' pk=workout_exercise.pk %}" data-workout-exercise-id="{{ object.id }}">
                    <div class="col-3 d-flex justify=content-center" style="display: flex; justify-content: center">
                        <img src="{{ workout_exercise.exercise.get_image_url }}" class="w-100" style="aspect-ratio: 1/1; object-fit: contain"></img>
                    </div>
                    <div class="col py-2">
                        <h5 class="text-dark text-decoration-none fw-bold">{{ workout_exercise.exercise.name }}</h5>
                        {% for metric_field_name, metric_value in workout_exercise.get_metric_values.items %}
                            <p class="text-dark text-decoration-none mb-1">{{ metric_field_name|capitalise_and_underscore_to_space }}: {{ metric_value }}</p>
                        {% endfor %}
                    </div>
                    <div class="col-auto">
                        <h5 class="text-dark text-decoration-none fw-bold text-end mb-1"><span class="text-nowrap">Sets: <span class="set-counter">{{ workout_exercise.sets }}</span></span></h5>
                        {% if not object.is_complete %}<button class="set-increment-button btn btn-primary py-1 w-100" data-set-increment-url="{% url 'workout_increment_exercise_sets' pk=workout_exercise.pk %}">+</button>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if object.is_complete %}
        {% if object.weight %}
            <h5>Weight at end of workout: <span class="fw-bold">{{ object.weight }} kgs</span></h5>
        {% endif %}
    {% else %}
        <a class="btn btn-success w-100" href="{% url 'workout_end' pk=object.id %}">End workout</a>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        $(".set-increment-button").click(function(e) {
            e.stopPropagation();
            const setIncrementButton = $(this)
            const workoutExerciseRow = setIncrementButton.closest(".workout-exercise-row")
            const setCounter = workoutExerciseRow.find(".set-counter")
            setIncrementButton.prop("disabled", true)
            $.post(setIncrementButton.data("set-increment-url"), {csrfmiddlewaretoken: "{{ csrf_token }}"}, function(newSetCount) {
                setCounter.text(newSetCount)
                setIncrementButton.prop("disabled", false)
            });
        });

        $(".workout-exercise-row").click(function() {
            window.location = $(this).data("update-url")
        });
    </script>
{% endblock %}