{% extends "base.html" %}

{% block main %}
    {% if current_workout %}
        <a href="{% url 'workout' pk=current_workout.pk %}" class="btn btn-primary w-100 mb-1">Resume workout</a>
    {% else %}
        <a href="{% url 'workout_start' %}" class="btn btn-primary w-100 mb-1">New workout</a>
    {% endif %}
    <a href="{% url 'workout_previous_list' %}" class="btn btn-secondary w-100 mb-1">Previous workouts</a>
    <a href="{% url 'exercise_list' %}" class="btn btn-secondary w-100 mb-1">Manage exercises</a>
    {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="btn btn-danger w-100 mb-1">Django admin</a>
    {% endif %}
{% endblock %}