{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="icon" type="image/x-icon" href="{% static 'workouttracker/favicon.ico' %}"/>
<title>{% if debug %}Test {% endif %}Workout tracker</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<style>
    :root {
        --page-bg-colour: #1e404f;
    }
    body {
        color: white;
    }
</style>
{% block styles %}{% endblock %}

<div class="px-3 px-md-5 py-3" style="background-color: var(--page-bg-colour); min-height: 100%;">
    <div class="row">
        <div class="col mb-3"><h1><a href="/" style="text-decoration: inherit; color: inherit;">{% if debug %}Test {% endif %}Workout Tracker</a></h1></div>
        {% if request.user.username %}
            <div class="col-auto text-end">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <div class="btn pe-none d-none d-sm-inline-block text-white">Hello {{ request.user.username }}</div>
                    <button class="btn btn-outline-light">Log out</button>
                </form>
            </div>
        {% endif %}
    </div>
    {% block main %}{% endblock %}
</div>

{% block scripts %}{% endblock %}
