{% extends "base.html" %}
{% load workout_extras %}

{% block main %}
    <div class="form-group">
        <label>Exercise</label>
        <select class="form-control" id="exercise_select">
            <option value="weight">Weight</option>
            <option value="length">Workout length</option>
            <hr/>
            {% for exercise in exercises %}
                <option value="{{ exercise.id }}">{{ exercise.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="charts_div"></div>
      
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    {{ weight_data_points|json_script:"weight_data_points" }}
    {{ length_data_points|json_script:"length_data_points" }}
    <script>
        const weightDataPoints = JSON.parse(document.getElementById('weight_data_points').textContent);
        const lengthDataPoints = JSON.parse(document.getElementById('length_data_points').textContent);
        Chart.defaults.color = "#cccccc";
        
        const lengthTooltip = (tooltipItems) => {
            return `${tooltipItems[0].parsed.y} minutes`;
        };

        const durationTooltip = (tooltipItems) => {
            return `${tooltipItems[0].parsed.y} seconds`;
        };

        function initialiseChart(title, dataPoints) {
            canvasID = `canvas_${title}`
            $("#charts_div").append(`<canvas id="${canvasID}"></canvas>`)
            canvas = $(`#${canvasID}`)[0]
            reformattedDataPoints = []
            for (const i in dataPoints) {
                reformattedDataPoints.push({x: new Date(dataPoints[i][0]), y: dataPoints[i][1]})
            }
            new Chart(canvas, {
                type: 'line',
                data: {
                  datasets: [{
                    label: title,
                    fill: false,
                    data: reformattedDataPoints,
                    borderColor: '#c4f5ff',
                  }]
                },
                options: {
                  scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'month'
                        },
                        distribution: 'linear'
                    },
                  },
                  plugins: title === "Length" ? {
                    tooltip: {
                      callbacks: {
                        footer: lengthTooltip,
                      }
                    }
                  } : title === "Duration" ? {
                    tooltip: {
                        callbacks: {
                          footer: durationTooltip,
                        }
                    }
                  } : {}
                }
            });
        }

        $("#exercise_select").change(function() {
            exerciseSelect = $(this)
            const selectedExercise = exerciseSelect.val()
            $("#charts_div").html("")
            if (selectedExercise == "weight") {
                initialiseChart("Weight", weightDataPoints)
            }
            else if (selectedExercise == "length") {
                initialiseChart("Length", lengthDataPoints)
            }
            else {
                exerciseSelect.prop("disabled", true)
                $.get("{% url 'statistics_exercise_data_points' pk=0 %}".replace("0", selectedExercise), function(dataPointsByMetric) {
                    for (const [metric_field_name, dataPoints] of Object.entries(dataPointsByMetric)) {
                        initialiseChart(metric_field_name, dataPoints)
                    }
                    exerciseSelect.prop("disabled", false)
                });
            }
        }).change()
    </script>
{% endblock %}